

body{
    background-attachment: fixed;
    background-image: url("https://picsum.photos/1920/1080");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Roboto', sans-serif;
    font-size: 120%;
    margin: 0;
}

select{
    color: #fff;
    font-size: .7em;
}

label {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
h2{
    font-weight: 900;
    overflow: hidden;
    overflow-wrap: normal;
}
p{
    margin: 0;
}


#checklistsContainer{
}

.checklistGroupElement{
    align-items: center;
    background-color: #424242cb;
    border: 0.2em solid #333;
    border-radius: 1.6em;
    color: #fff;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    margin: 1em auto;
    max-width: 100%;
    padding: 1em;
    width: max-content;
}

.checklistGroupElement *{
    padding: .6em;
    width: max-content;
}

.checklistGroupHeader{
    grid-column: 1 / -1;
    margin: 0 auto;
}

.checklistItemDesc{
    margin-left: auto;
}

.textSubmitBtn{
    height: 100%;
    border: unset;
    margin-left: .4em;
}

@media (max-width: 50em){
    body{
        font-size: 70%;
    }
    .checklistGroupElement{
        width: 100%;
        box-sizing: border-box;
    }
}