:root{
    --light-background: #fcfcfc;
    --shadow-color: #292929;
    --border-color: var(--shadow-color);
    --dark-background: #303030cf;
}

html{
    scroll-behavior: smooth;
}

body{
    background-attachment: fixed;
    background-image: url("https://picsum.photos/1920/1080");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Roboto', sans-serif;
    font-size: 120%;
    margin: 0;
    overflow-y: scroll;
}

select{
    color: #fff;
    font-size: .7em;
    margin-left: 1em;
}
label {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
h2{
    font-weight: 900;
    overflow: hidden;
    overflow-wrap: normal;
}
p{
    margin: 0;
}


#checklistsContainer{
    display: flex;
    flex-direction: column-reverse;
    margin-top: 25vh;
}

.checklistGroupElement{
    align-items: center;
    background-color: var(--dark-background);
    border-radius: 3em;
    box-shadow: 0.2em 0.2em 0.2em var(--shadow-color);
    color: #fff;
    display: grid;
    grid-template-columns: 1fr 1fr;
    transform: translateX(-150vh);
    padding: 1em;
    max-height: 0px;
    justify-content: center;
    margin: 1em auto;
    max-width: 100%;
    width: max-content;
    overflow: hidden;
}

.checklistGroupElement *{
    padding: .6em;
    width: max-content;
}

.checklistGroupHeader{
    grid-column: 1 / -1;
    margin: 0 auto;
}

.checklistItemDesc{
    margin-left: auto;
}

.numberInput{
    margin-left: 1em;
}
.textSubmitBtn{
    background-color: var(--light-background);
    border: unset;
    height: 100%;
    margin-left: .4em;
}
.textSubmitBtn:active{
    opacity: 0.3;
}

@media (max-width: 50em){
    body{
        font-size: 70%;
    }
    .checklistGroupElement{
        box-sizing: border-box;
        width: 100%;
    }
}